.cascading-right {
    margin-right: -50px;
}

@media (max-width: 991.98px) {
    .cascading-right {
        margin-right: 0;
    }
}

.hight-img {
    height: 40em;
    width: 50%;
}

.txt-color {
    color: white;
    font-size: 1.4em;
}

/* NavBar css  */

[data-bs-theme="dark"] {
    background: linear-gradient(90deg, rgb(28 80 42) 0%, rgb(1 1 72) 22%, rgb(140 51 178) 91%);
    color: #ffffff;
}


